@import './node_modules/bootstrap/scss/bootstrap.scss';

main {
    @extend .container-fluid;
}


footer output{
    @extend .navbar;
    display:block;
    overflow-x:hidden;
    background-color:#333;
    color:#00ff2c;
    height:7em;
    font-size:0.7em;
    font-family:"Monospace";
}


article {
    @extend .row;
}

section {
    @extend .col-md-4;

    hgroup {
	h2, h3 {
	    display:inline;
	}
	h3 {
	    margin-left:0.5em;
	    @extend .text-secondary;
	}
    }
}

figure {
    @extend .card;

    figcaption {
	@extend .card-body;
    }

    img {
	@extend .card-img-top;
    }

}

div.progress div{
    @extend .progress-bar;
}

label#linlog{
    @extend .custom-control;
    @extend .custom-checkbox;

    input[type="checkbox"] {
	// @extend .custom-control-input;
    }

    em {
	// @extend .custom-control-indicator;
    }

    span {
	// @extend .custom-control-description;
    }

}


form {

    >div {
	@extend .form-group;
	@extend .row;

	label, >span {
	    @extend .col-md-4;
            @extend .col-form-label;
	}

	div {
	    @extend .col-md-8;

	    input, select, button{
		@extend .form-control;
	    }

	    input, button {
		@extend .mt-1;
	    }

	}
    }

    button {
	@extend .btn;
	@extend .btn-block;

    }

}


var {
    #minist, #maxist{
	border-top:0.1em solid black
    }
}

#histogram {

    ul,li{
	padding:0;
	margin:0;
    }

    li{
	margin-top:200px;
	background-color:#0275d8; /*steelblue*/
	display:inline-block;
	width:5px;
    }

}
